.jumbotron {
    background-image: url(/images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;

    height: 100%;

}
.jumbotron {
  background: #276EF4;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #276EF4;
  border-color: #276EF4;
}
.jumbotron .btn-primary:hover {
  background: #276EF4;
}
.jumbotron p {
  color: #fdfdfd;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #ffffff;
  border-radius: 70%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
