.jumbotron {
    background-image: url(/images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;

    height: 100%;

}
.jumbotron .btn-primary {
    background: #0906da;
    border-color: #040404;
}
.jumbotron .btn-primary:hover {
    background: #1a0cec8a;
}
.jumbotron p {
    color: #ffffff;
    max-width: 75%;
    margin: 1em auto 2em;
}
.jumbotron h1 {
    font-size: 40px;
}
.navbar + .jumbotron {
    margin-top: -20px;
}
.jumbotron .lang-logo {
    display: block;
    background: #ffffff;
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 2px solid white;
}
.jumbotron .lang-logo img {
    max-width: 200%;
}
