.jumbotron {
  background: #276EF4;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #276EF4;
  border-color: #276EF4;
}
.jumbotron .btn-primary:hover {
  background: #276EF4;
}
.jumbotron p {
  color: #fdfdfd;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .imagenes/fondo {
  display: block;
  background: #B01302;
  border-radius: 70%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .fondo img {
  max-width: 100%;
}
